.imgLoc
{
  border: 1px solid black;
  position: relative;
  top: 11px;
  left: 1px;
  
}
.buttonSearchBar
{
  font-size: 18px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #1172D4;
  color: white;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 2px;
  
  width: 90px;
}
.searchBarr
{
  margin-left: 10px;
  
}
