<<<<<<< HEAD
/* TourCompany.css */

.tourCompanyContainer {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 0;
    
    
  }
  
  .tourCompanyContainer h2 {
    text-align: center;
    margin-bottom: 20px;
  }
    
    

    /* Add the following styles to your CSS file */

.actoin_btns {
  display: flex;
  gap: 10px; /* Adjust the gap according to your preference */
}



.action_btn_box Button {
  width: 70px;
  height: 40px; /* Adjust the height according to your preference */
}

.action_btn_box .editButton:hover {
  
}

.action_btn_box .deleteButton {
  
}

/* TourCompany.css */

.tourCompanyContainer {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 0;
  margin-right: 100px;
  
}

.tourCompanyContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}
  
  

  /* Add the following styles to your CSS file */

.actoin_btns {
display: flex;
gap: 10px; /* Adjust the gap according to your preference */
}



.action_btn_box Button {
width: 70px;
height: 40px; /* Adjust the height according to your preference */
}

.action_btn_box .viewButton {

}

.action_btn_box .deleteButton {

}
