

.dropDownProfile{


  position: absolute;
  bottom:-6.7rem;
  right: 2.9rem;
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
  color: black;
}

.dropDownProfile::before{
  content: '';
  position: absolute;
  top:-0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  
}


.dropDownContent {
  position: absolute;
  top:110%;
  left:0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight: bold;
  color: #333;
  width: 100%;
}
.dropDownProfile .dropDownItem{
   padding-left: 8px;
   margin-left: -8px;
   padding-top: 0px;
   margin-top: 0px;
   font-family: helvetica;
   color: black;
   transition: background-color 0.3s, color 0.3s;
}

.dropDownProfile ul li {
  padding-left: 5px;
  display: block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  width: 120px;
  color: black;
  z-index: 900;
}
.dropDownProfile .dropDownItem:hover {
  background-color: #1172D4; /* Changed background color on hover */
  color: white; /* Changed text color on hover */
}


.tooltiptext
{
  background-color: red;
  border-radius: 50%; /* Make it a circle */
  width: 10px; /* Adjust width as needed */
  height: 10px;
  position: absolute;
  bottom:40px;
  left: 110px;
}
.tooltiptexT{
  background-color: red;
  border-radius: 50%; /* Make it a circle */
  width: 10px; /* Adjust width as needed */
  height: 10px;
  position: absolute;
  bottom:95px;
  left: 110px;
}
